
.btn-danger:active {
  animation-name: pulse;
  animation-duration: 0.5s;
}

.btn-warning:active {
  animation-name: pulse;
  animation-duration: 0.5s;
}

.btn-success:active {
  animation-name: pulse;
  animation-duration: 0.5;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

.btn-warning:focus {
  box-shadow: 0 0 40px #744e02;
}

.btn-danger:focus {
  box-shadow: 0 0 40px #8a7102;
}

.btn-success:focus {
  box-shadow: 0 0 40px #0f7f03;
}
@import "../node_modules/bootstrap/scss/bootstrap";